.layoutlabel {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: white;
  color: black;
  padding: 0.1rem 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.layoutlabel:hover,
.layoutlabel:active {
  color: rgb(75, 75, 148);
}

.badge{
  font-size: x-small;
  padding-left: 1px;
  padding-bottom: 20px;
  font-weight: bold;
}




